<footer class="bg-dark text-light py-4">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h4>About Us</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, felis non volutpat euismod.</p>
          </div>
          <div class="col-md-4">
              <h4>Contact Us</h4>
              <ul class="list-unstyled">
                  <li>Email: info@example.com</li>
                  <li>Phone: +1 (123) 456-7890</li>
                  <li>Address: 123 Main Street, City, Country</li>
              </ul>
          </div>
          <div class="col-md-4">
              <h4>Follow Us</h4>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-light">Facebook</a></li>
                  <li><a href="#" class="text-light">Twitter</a></li>
                  <li><a href="#" class="text-light">Instagram</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
