.container-fluid {
    background-color: rgb(190, 232, 232);
}

.row {
    justify-content: center;
}

/* Border Shadow in <hr> tag */
hr.style-hr {
    height: 10px;
    border: 1;
    box-shadow: inset 0 9px 9px -3px rgba(11, 99, 184, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

/* <a> tag  mod*/
.disabled-link {
    pointer-events: none;
    text-decoration: none;
    color: rgb(183 174 77);
    font-weight: 700;
}

.chart2heading{
    top: 10px; 
    overflow: hidden;
    margin-left: 1em;
}

/* Custom select with shadow, rounded corners */
.dashboard-select {
  border-radius: 0.5rem;
  padding-left: 2.5rem; /* space for icon */
  transition: all 0.3s ease;
}
.dashboard-select:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
/* Focus state */
.dashboard-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(75, 119, 169, 0.25);
  outline: none;
}

/* Chart */
#canvas2{
    height: 235px;
}